* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2 {
  margin: 0;
  color: black;
  font-size: 3rem;
}

h1 {
  text-transform: uppercase;
}

body {
  margin: 2rem;
  background: linear-gradient(to right, #325d26, #CDE2C7);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

main {
  background-color: #A7C49F;
  color: #325d26;
  padding: 0.5rem;
  text-align: center;
  width: 30rem;
  margin: auto;
  border-radius: 2rem;
  border: dashed;
  box-shadow: 0px 0px 50px 20px #325d26;
}

table {
  margin: auto;
  pointer-events: none;
}

.display {
  padding: 1rem;
  pointer-events: none;
}

.number-buttons,
.operator-buttons {
  display: inline;
  user-select: none;
}

button{
  height: 4rem;
  width: 5rem;
  font-size: 2rem;
  border-radius: 50% 20% / 10% 40%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #61A64F;
  pointer-events: fill;
}

.number-buttons button {
  background-color: #CDE2C7;
}

.double{
  width: 10.5rem;
}

.function-buttons {
  background-color: #325d26;
  color: white;
}

.number-buttons button:hover,
.operator-buttons button:hover{
  background-color: white;
  color: black;
}

input {
  height: 4rem;
  width: 26.5rem;
  text-align: right;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}